




.floating-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  position: fixed;
  width: 90%;
  height: 150px;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px
}



.panel-container{
  margin-left: 20px;
}


.error-messege {
  display:flex;
  justify-content: center;
  align-items: center;
  text-align:center;
  border-radius:5px;
  position:fixed;
  width:90%;
  height:35px;
  bottom:0;
  background:rgba(0, 0, 0, .6);
  color: white;
  transform:translateX(-50%);
  left:50%;
  margin-bottom:20px;
  pointer-events: none;
}

/* #latex-container{
  padding-left: 35px;
}

#show-steps-in{
  padding-right: 35px;
}


.katex {
  font-size: 30px;
} */
